
Codes/.DS_Store
.DS_Store
Codes/.DS_Store
.DS_Store
.DS_Store
.Rproj.user
data/CLNACS.csv
data/Data.Rdata
texts/Descriptive_cache/html/__packages
texts/Descriptive_cache/html/library _1431e6733e70e8cb41c4707bf99cb36b.RData
.RData
.Rhistory
data/RAWACS.csv
data/RAWACS.RData
data/CLNACS.RData
data/CLNACS2.RData
